/* Reset some basic elements for cross-browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    transition: 0.5s;
}

.login-container:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4);
}

.login-wrapper {
    padding: 30px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: background 0.3s, color 0.3s;
}

.input-group input:focus {
    background: rgba(255, 255, 255, 0.2);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #8e44ad;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
}

button:hover {
    background: #732d91;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
